$primary-bg-color: #f8f8f8;
$secondary-bg-color: #d4d4d4;
$blue-color: #007bff;
$green-color: #28a745;
$red-color: #dc3545;
$black-color: #0d0d0d;
$yellow-color: #ffc107;
$gray-color: #6c757d;

$statuses: (
  to-do: $gray-color,
  in-progress: $yellow-color,
  completed: $green-color,
);

@each $status, $color in $statuses {
  .#{$status} {
    color: $color;
  }
}