.todo-item {
  display: flex;
  flex-direction: column;
  border-bottom: 0.15rem solid $black-color;

  &__main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem 0.25rem;
  }

  &__number,
  &__title,
  &__status,
  &__edit,
  &__remove {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__number {
    flex: 0 1 5%;
  }

  &__title {
    flex: 0 1 50%;
    text-align: center;
  }

  &__toggle-description {
    cursor: pointer;
    margin-left: 0.5rem;
    color: $blue-color;
  }

  &__status {
    flex: 0 1 30%;

    &-button {
      cursor: pointer;
      user-select: none;
      padding: 0.5rem;
      background-color: $primary-bg-color;
      border: 0.15rem solid;
      border-radius: 4px;

    }
  }

  &__edit {
    flex: 0 1 7.5%;
    text-align: center;

    &-button {
      cursor: pointer;
      padding: 0.5rem;
      background-color: $primary-bg-color;
      color: $blue-color;
      border: 0.15rem solid $blue-color;
      border-radius: 4px;
    }
  }

  &__remove {
    flex: 0 1 7.5%;
    text-align: center;

    &-button {
      cursor: pointer;
      padding: 0.5rem;
      background-color: $primary-bg-color;
      color: $red-color;
      border: 0.15rem solid $red-color;
      border-radius: 4px;
    }
  }

  &__description {
    display: none;
    padding: 0.5rem;
    font-size: 0.9rem;
    color: $gray-color;

    &.visible {
      display: block;
    }
  }
}
